.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
    width: 1024px;
    height: 77px;
    background-color: #F7F7F7;

}
.footer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #545454;

}
