body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: white;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
}
h1,
h2,
h3,
p,
ul {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

textarea {
  resize: none;
}

.button {
  padding: 0px;
  border: none;
  cursor: pointer;
}

