<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film</title>
</head>
<body>
    <header class="container backgound-image">
        <div class="flex" >
            <div class="" >
                <svg class="svg change-color" widht="24px" height="24px">
                    <use class="svge" href="/src/images/symbol.svg#icon-film">
                </svg>
            </div>
            <div class="flex navigation">
                <a class="text-header" href="">HOME</a>
                <a class="text-header" href="">MI LIBRERI</a>
            </div>
            
        </div>
        <div class="search-box">
                
                <form class="search-form" id="search-form">
                    <input class="search-input" type="text" name="searchQuery" autocomplete="off" placeholder="Search films..." />
                    <button type="submit" class="button-search"><span class="ttt"><svg class="search-icon change-color" widht="12px" height="12px">
                        <use href="/src/images/symbol.svg#icon-search">
                    </svg></span></button>
                </form>
        </div>
    </header>

</body>
</html>